**Корректность проверена на Python 3.7:**
+ pandas 0.23.0
+ numpy 1.14.5

# Корреляция Пирсона

In [4]:
import pandas as pd
import numpy as np

In [5]:
print(np.__version__)
print(pd.__version__)

1.18.5
1.0.5

## Foodmart product sales

In [6]:
sales = pd.read_csv('foodmart.sales.tsv', sep = '\t', header = 0, parse_dates = [2])

In [7]:
sales.head()

   product_id  store_id       date  sales
0           4         6 1997-01-01      4
1          25         6 1997-01-01      3
2          48         6 1997-01-01      3
3          76         6 1997-01-01      4
4         119         6 1997-01-01      3

In [8]:
products = pd.read_csv('foodmart.products.tsv', sep = '\t', header = 0)

In [9]:
products.head()

   product_class_id  product_id  ... shelf_height shelf_depth
0                30           1  ...        12.60        7.40
1                52           2  ...         3.71       22.60
2                52           3  ...        11.00        7.77
3                19           4  ...        18.90        7.93
4                19           5  ...        21.90       19.20

[5 rows x 15 columns]

In [10]:
sales = sales.merge(products[['product_id', 'product_name']], 
                    on = ['product_id'], how = 'inner')

In [11]:
sales.head()

   product_id  store_id       date  sales           product_name
0           4         6 1997-01-01      4  Washington Cream Soda
1           4         7 1997-01-05      3  Washington Cream Soda
2           4         6 1997-01-06      2  Washington Cream Soda
3           4        17 1997-01-11      2  Washington Cream Soda
4           4        24 1997-01-11      2  Washington Cream Soda

## Взаимное влияние продуктов друг на друга

In [12]:
sparse_sales = pd.pivot_table(sales, values='sales', index=['date', 'store_id'],
                     columns=['product_name'], fill_value = 0)

In [13]:
sparse_sales.head()

product_name         ADJ Rosy Sunglasses  ...  Washington Strawberry Drink
date       store_id                       ...
1997-01-01 6                           0  ...                            0
           14                          0  ...                            0
1997-01-02 11                          0  ...                            0
           23                          0  ...                            0
1997-01-03 7                           0  ...                            0

[5 rows x 1559 columns]

In [14]:
sales_correlation = sparse_sales.corr()

In [15]:
sales_correlation.head()

product_name                ADJ Rosy Sunglasses  ...  Washington Strawberry Drink
product_name                                     ...
ADJ Rosy Sunglasses                    1.000000  ...                     0.035745
Akron City Map                         0.076608  ...                     0.051952
Akron Eyeglass Screwdriver            -0.006581  ...                     0.163519
American Beef Bologna                  0.038685  ...                     0.055211
American Chicken Hot Dogs              0.041105  ...                    -0.008498

[5 rows x 1559 columns]

In [16]:
product_name = 'American Chicken Hot Dogs'
sales_correlation[[product_name]].sort_values(product_name, ascending = True).head()

product_name                  American Chicken Hot Dogs
product_name
Lake Pimento Loaf                             -0.065509
Fast Low Fat Chips                            -0.061037
PigTail Frozen Sausage Pizza                  -0.058960
Plato Decaf Coffee                            -0.058481
Kiwi Lox                                      -0.057037

In [17]:
min_corr = pd.DataFrame(sales_correlation.min())
min_corr.columns = ['min']
min_corr.sort_values(by = 'min').head()

                                   min
product_name
Carlson Whole Milk           -0.085064
Pearl Chardonnay Wine        -0.085064
Gulf Coast Malted Milk Balls -0.082598
Sunset Economy Toilet Brush  -0.082598
Fast Fudge Brownies          -0.082317

In [18]:
max_corr = pd.DataFrame(sales_correlation.apply(lambda x : 
                                                np.max(list(filter(lambda x : x != 1., x))), 
                        axis = 1))
max_corr.columns = ['max']
max_corr.sort_values(by = 'max', ascending = False).head()

                                  max
product_name
Plato French Roast Coffee    0.340598
Just Right Vegetable Soup    0.340598
Nationeel Grape Fruit Roll   0.322176
Great Muffins                0.322176
Club Low Fat Cottage Cheese  0.306701

In [19]:
product_name = 'Plato French Roast Coffee'
sales_correlation[[product_name]].sort_values(product_name, ascending = False).head()

product_name                      Plato French Roast Coffee
product_name
Plato French Roast Coffee                          1.000000
Just Right Vegetable Soup                          0.340598
Hermanos Macintosh Apples                          0.289095
Tell Tale Macintosh Apples                         0.273905
Consolidated Whitening Toothpast                   0.247477