In [1]:
import pandas as pd
import numpy as np

**Question 1**

Для 61 большого города в Англии и Уэльсе известны средняя годовая смертность на 100000 населения (по данным 1958–1964) и концентрация кальция в питьевой воде (в частях на маллион). Чем выше концентрация кальция, тем жёстче вода. Города дополнительно поделены на северные и южные.

water.txt

Есть ли связь между жёсткостью воды и средней годовой смертностью? Посчитайте значение коэффициента корреляции Пирсона между этими признаками, округлите его до четырёх знаков после десятичной точки.

In [4]:
water = pd.read_csv('water.txt', sep = '\t', header = 0)
water.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [8]:
water_corr_pr = water[['mortality', 'hardness']].corr() 
round(water_corr_pr, 4)

           mortality  hardness
mortality     1.0000   -0.6548
hardness     -0.6548    1.0000


**Question 2**

В предыдущей задаче посчитайте значение коэффициента корреляции Спирмена между средней годовой смертностью и жёсткостью воды. Округлите до четырёх знаков после десятичной точки.

In [9]:
water_corr_spr = water[['mortality', 'hardness']].corr(method='spearman') 
round(water_corr_spr, 4)

           mortality  hardness
mortality     1.0000   -0.6317
hardness     -0.6317    1.0000

**Question 3**

Сохраняется ли связь между признаками, если разбить выборку на северные и южные города? Посчитайте значения корреляции Пирсона между средней годовой смертностью и жёсткостью воды в каждой из двух подвыборок, введите наименьшее по модулю из двух значений, округлив его до четырёх знаков после десятичной точки.

In [11]:
water_south = water.loc[water['location']=='South']
water_north = water.loc[water['location']=='North']

In [12]:
water_corr_pr = water_south[['mortality', 'hardness']].corr() 
round(water_corr_pr, 4)

           mortality  hardness
mortality     1.0000   -0.6022
hardness     -0.6022    1.0000

In [13]:
water_corr_pr = water_north[['mortality', 'hardness']].corr() 
round(water_corr_pr, 4)

           mortality  hardness
mortality     1.0000   -0.3686
hardness     -0.3686    1.0000

**Question 4**

Среди респондентов General Social Survey 2014 года 
* хотя бы раз в месяц проводят вечер в баре 203 женщины и 239 мужчин; 

* реже, чем раз в месяц, это делают 718 женщин и 515 мужчин.

Посчитайте значение коэффициента корреляции Мэтьюса между полом и частотой похода в бары. Округлите значение до трёх знаков после десятичной точки.

In [14]:
a = 718.0
b = 203.0
c = 515.0
d = 239.0
mcc = (a*d - b*c)/np.sqrt((a+b)*(a+c)*(b+d)*(c+d))
round(mcc, 3)

0.109

**Question 5**

В предыдущей задаче проверьте, значимо ли коэффициент корреляции Мэтьюса отличается от нуля. Посчитайте достигаемый уровень значимости; используйте функцию scipy.stats.chi2_contingency. Введите номер первой значащей цифры.

In [15]:
from scipy import stats


stats.chi2_contingency(np.array([[a, b], [c, d]]))

(19.40753078854304,
 1.0558987006638725e-05,
 1,
 array([[677.96597015, 243.03402985],
        [555.03402985, 198.96597015]]))

**Question 6**

В предыдущей задаче давайте попробуем ответить на немного другой вопрос: отличаются ли доля мужчин и доля женщин, относительно часто проводящих вечера в баре? Постройте 95% доверительный интервал для разности долей, вычитая долю женщин из доли мужчин. Чему равна его нижняя граница? Округлите до четырёх знаков после десятичной точки.

In [16]:
def proportions_confint_diff_ind(sample1, sample2, alpha = 0.05):    
    z = stats.norm.ppf(1 - alpha / 2.)   
    p1 = float(sum(sample1)) / len(sample1)
    p2 = float(sum(sample2)) / len(sample2)
    
    left_boundary = (p1 - p2) - z * np.sqrt(p1 * (1 - p1)/ len(sample1) + p2 * (1 - p2)/ len(sample2))
    right_boundary = (p1 - p2) + z * np.sqrt(p1 * (1 - p1)/ len(sample1) + p2 * (1 - p2)/ len(sample2))
    
    return (left_boundary, right_boundary)


mens = [0]*515 + [1]*239
womens = [0]*718 + [1]*203
answer = proportions_confint_diff_ind(mens, womens)
round(answer[0], 4)

0.0539

**Question 7**

Проверьте гипотезу о равенстве долей любителей часто проводить вечера в баре среди мужчин и женщин. Посчитайте достигаемый уровень значимости, используя двустороннюю альтернативу. Введите номер первой значащей цифры

In [17]:
stats.ttest_ind(mens, womens)

Ttest_indResult(statistic=4.485175262463444, pvalue=7.78139336142543e-06)

**Question 8**

Посмотрим на данные General Social Survey 2014 года и проанализируем, как связаны ответы на вопросы "Счастливы ли вы?" и "Довольны ли вы вашим финансовым положением?"

Не доволен  	Более или менее	   Доволен


---


Не очень счастлив	197	111	33


---


Достаточно счастлив	382	685	331


---


Очень счастлив	110	342	333


---


Чему равно значение статистики хи-квадрат для этой таблицы сопряжённости? Округлите ответ до четырёх знаков после десятичной точки.

In [20]:
contingencyTable = np.array([[197, 111, 33], [382, 685, 331], [110, 342, 333]])
stats.chi2_contingency(contingencyTable)

(293.68311039689746,
 2.4964299580093467e-62,
 4,
 array([[ 93.08597464, 153.74722662,  94.16679873],
        [381.6251981 , 630.318542  , 386.0562599 ],
        [214.28882726, 353.93423138, 216.77694136]]))

**Question 10**

Чему в предыдущей задаче равно значение коэффициента V Крамера для рассматриваемых признаков? Округлите ответ до четырёх знаков после десятичной точки.

In [24]:
n = sum([sum(x) for x in contingencyTable])
phi_cramera = np.sqrt(293.68311039689746 / (n * 2))
round(phi_cramera,4)

0.2412