In [ ]:
import pandas as pd
import numpy as np

- Пирсен, Спирмен
- разница между средними долями
- Разница между средними долями

**Вопрос 4.**

Есть ли связь между неграмотностью и рождаемостью? Для 94 стран, уровень неграмотности женщин в которых больше 5%, известны доля неграмотных среди женщин старше 15 (на 2003 год) и средняя рождаемость на одну женщину (на 2005 год).

Чему равен выборочный коэффициент корреляции Пирсона между этими двумя признаками? Округлите до четырёх знаков после десятичной точки.

In [ ]:
data = pd.read_csv('illiteracy.txt', sep = '\t', header = 0)
data.head(3)

   Country  Illit  Births
0  Albania   20.5    1.78
1  Algeria   39.1    2.44
2  Bahrain   15.0    2.34

In [ ]:
data.corr()

           Illit    Births
Illit   1.000000  0.768663
Births  0.768663  1.000000

In [ ]:
round(0.768663, 4)

0.7687

**Вопрос 5**

Чему равен выборочный коэффициент корреляции Спирмена признаков из предыдущего вопроса? Округлите до четырёх знаков после десятичной точки.

In [ ]:
data.corr(method='spearman')

           Illit    Births
Illit   1.000000  0.752962
Births  0.752962  1.000000

In [ ]:
round(0.752962, 4)

0.753